AWS_REGION=us-east-1
AWS_DYNAMODB_TABLE=User_Strategies
AWS_SQS_QUEUE_URL=https://sqs.<region>.amazonaws.com/<account-id>/Submission_Queue
RESOURCE_MANAGER_URL=http://<resource-manager-host>:5000/compute
USER_0_ENDPOINT=http://<user-0-host>:5000/result
USER_1_ENDPOINT=http://<user-1-host>:5000/result
USER_2_ENDPOINT=http://<user-2-host>:5000/result
